@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pixelify+Sans:wght@400..700&family=Racing+Sans+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono",monospace; 
}

a{
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 25px;

}

a:hover{
    border-bottom: 1px solid white;
   
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  height: 10vh;
  width: 100vw;
    background: linear-gradient(#111,#11111193);
  overflow: hidden;

 
}

header img {
 
width: 100px;
 
}

header nav{
  margin-right: 20px;
}

body{
 color: white;
}

canvas{
  width: 100vw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.profileImage{
 
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.profileImage img{
height: 400px;
  object-fit: contain;  
-webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 0) 50%, transparent 50%);
  mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.911) 65%, transparent 75%);
}

.profileImage h1{
font-size: 50px;
animation: opacidad 3s alternate infinite;
text-align: center;
margin: 0 0 -25px 0;
}

.profileImage h2{
  text-align: center;
font-size: 80px;
animation: escribir 2.5s steps(20) forwards;
font-family: monospace;  
  white-space: nowrap;     
  overflow: hidden;        
    
  width: 0;
}
 

.profileImage h3{
  text-align: center;
font-size: 30px;
animation: escribir 2.5s steps(20) forwards;
font-family: monospace;  
  white-space: nowrap;     
  overflow: hidden;        
  margin-top: -18px;
    
  width: 0;
}


@keyframes escribir {
  0% { width: 0; }
  100% { width: 10ch; }
}

@keyframes opacidad {
  0% { opacity: 0; }
  100% { opacity: 1 ; }
}

 
.skillbars{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills>h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
 

.htmls{
 
 width:50%; 
 margin-left: 20%;
}

.twoBarsOra{
  display: flex;
  justify-content: space-around;
}
 

.outBarHTML{
width:50%;
height: 10px;
border: 1px solid white;
border-radius: 5px;
overflow: hidden;
}

.innerBarHTML{
 
border: 1px solid white;
height: 10px;
background-color: aliceblue;
border-radius: 1px;
animation: load99 6s forwards ;
}

.stitles{
  display: flex;
  justify-content: space-between;
}

.stitles >h3{
  margin-right: 50%;
}

.css{
 width: 50%; 
 
}

.outBarCSS{
width: 50%;
height: 10px;
border: 1px solid white;
border-radius: 4px;
overflow: hidden;
}

.innerBarCSS{
 
border: 1px solid white;
height: 10px;
background-color: aliceblue;
border-radius: 1px;
animation: load99 6s forwards ;
}

.JavaScript{
width: 50%;
margin: 2% 0 0 20%;
 
}

.outBarJS{
width: 50%;
height: 10px;
border: 1px solid white;
border-radius: 4px;
overflow: hidden;
}

.innerBarJS{
  
border: 1px solid white;
height: 10px;
background-color: aliceblue;
border-radius: 1px;
animation: load90 7s forwards ;
}

.React{
width: 50%;
 margin: 2% 0 0 0;
 
}

.outBarJSX{
  width: 50%;
  height: 10px;
border: 1px solid white;
border-radius: 4px;
overflow: hidden;
}

.innerBarJSX{
  width: 80%;
border: 1px solid white;
height: 10px;
background-color: aliceblue;
border-radius: 1px;
animation: load80 7s forwards ;
}

.ts{
  width: 50%;
  margin: 1% 0 1% 25%
}


.outBarTS{
  width: 50%;
  height: 10px;
border: 1px solid white;
border-radius: 4px;
overflow: hidden;
}

.innerBarTS{
  width: 60%;
border: 1px solid white;
height: 10px;
background-color: aliceblue;
border-radius: 1px;
animation: load60 8s forwards ;
}

.outBarES{
  width:50%;
  height: 10px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.innerBarES{
 
border: 1px solid white;
height: 10px;
background-color: aliceblue;
border-radius: 1px;
animation: load100 9s forwards ;
}

.spanish{
  width:50%; 
 margin-left: 20%;
  
}
.outBarEN{
  width: 50%;
  height: 10px;
  border: 1px solid white;
  border-radius: 6px;
  overflow: hidden;
}

.innerBarEN{
 
border: 1px solid white;
height: 10px;
background-color: aliceblue;
border-radius: 1px;
animation: load85 9s forwards ;
 
}

.english{
  width:50%; 
}

@keyframes load100 {
  0%{
    width: 0;
  }

  100%{
width: 100%;
  }
}

@keyframes load85 {
  0%{
    width: 0;
  }

  100%{
width: 85%;
  }
}

@keyframes load99 {
  0%{
    width: 0;
  }

  100%{
width: 99%;
  }
}

@keyframes load90 {
  0%{
    width: 0;
  }

  100%{
width: 90%;
  }
}

@keyframes load80 {
  0%{
    width: 0;
  }

  100%{
width: 80%;
  }
}

@keyframes load60 {
  0%{
    width: 0;
  }

  100%{
width: 60%;
  }
}

.projectstittle{
  text-align: center;
  margin: 80px 0 20px 0;
  font-size: 40px;
  
  background: radial-gradient(circle,#111111bb 0%, #11111181 100%);
}

.vibeCodedTittle{
  text-align: center;
  margin: 20px 0 20px 0;
  font-size: 40px;
  background: radial-gradient(circle,#111111bb 0%, #11111181 100%);
}

.pokedex{
  display: flex;
  flex-direction: row;
  
  background: radial-gradient(circle,#111111bb 0%, #11111181 100%);
}

.textZone{
  width: 60%;
  display: flex;
  flex-direction: column;
   
}

.textZone>h2{
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  border-bottom: 3px solid white;
  
}

.textZone>p{
  margin: 20px 40px;
  text-align: justify;
}

.imageZone{
  width: 40%;
    
   display: flex;
   justify-content: center;
   align-items: center;
}

.pokeimg{
  height: 20vh;
  object-fit: contain;
    animation: floatX 3s ease-in-out infinite; 
}


.pokeimg1{
    height: 20vh;
  object-fit: contain;
  animation: floatX 3s ease-in-out infinite; 
}

.footerAnchor{
  color: white;
  text-decoration: none;
}

@keyframes floatX {
          0%, 90%, 100% { transform: translateX(0); }
          92% { transform: translateX(-2px); }
          94% { transform: translateX(2px); }
          96% { transform: translateX(-2px); }
          98% { transform: translateX(2px); }
}

#aboutMe{
  text-align: center;
  margin: 60px 0 0 0;
  font-size: 40px;
}

.aboutMe{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
   justify-content: center;
  align-items: center;
}
.aboutMe > p {
  text-align: justify;
 
  margin:  0px 40px 0 40px;
  background: radial-gradient(circle,#111111 0%, #11111181 100%);
}

.aboutMe > img {
  object-fit: contain;
  height: 500px;
  -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 0) 50%, transparent 50%);
  mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.911) 65%, transparent 85%);
}

.tecnolog{
  display: flex;
  flex-direction: row;
  margin: 10px 0 20px 30px;
}
.iconsTech{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid white;
  overflow: hidden;
}

.iconsTech>img{
object-fit: contain;
height: 25px;
}

.tecnolog2{
    display: flex;
  flex-direction: row;
  margin: 10px  0px 0px 100px;
}

.contacttittle{
  text-align: center;
  font-size: 40px;
}

.contacticons{
  display: flex;
  justify-content: center;
}

.contacticons> a> img{
  width: 40px;
}

footer{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  background: linear-gradient(#000000d2,#11111167);
}

 
 @media (max-width: 768px) {
 

  
  nav > a{
    
    font-size: 14px;
  }

  header nav{
  margin-right: 0px;
}
  
  canvas{
  width: 100dvw;
  height: 100dvh;
 
}
  header {
    flex-direction: column;  
    height: auto; 
    padding: 10px;
  }

  .skillbars{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .pokeimg1{
    border-bottom: 2px solid white;
  }

  .profileImage h2 {
    font-size: 40px;  
  }

  .pokedex, .aboutMe {
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin: 40px 0;
  }

   .twoBarsOra {
    display: flex;
    margin: 40px 20px;
   }

   .ts{
    padding-left: 20%;
   }

   .stitles >h3{
  margin-right: 10%;
}

  .textZone, .imageZone, .htmls, .ts, .JavaScript, 
.spanish{
    width: 90%;  
    margin-left: 0;  
  }

  .outBarHTML{
  width:35dvw;
 
}
 
.outBarCSS{
width: 35dvw;  
}
 
.outBarJS{
  width: 35dvw;
 
}
  
.outBarJSX{
  width: 35dvw;
  
}
 
.outBarTS{
  width: 50dvw;
  
}

.outBarES{
  width: 35dvw;
 
}
 
.outBarEN{
  width:  35dvw;
 
}
 
 
}




@media (min-height: 677px) {


}